{% extends 'BROBlogBundle::layout.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
    <header>
        <h1>About me</h1>
    </header>
    <article>
        <p>Who am I? Why am I here? These questions I ask myself almost every day. My answer is to comprehend the world and improve. Everyone has to decide for himself what is right. In my lifestyle i have a number of ways how to achieve this.</p>
        <p><span class="highlight">Psychic and Spiritual Development.</span> Yoga stands for flexibility of body and purity of mind. No pain, no gain</p>
        <p><span class="highlight">The external world. The cosmos.</span> What actually surrounds us? What might happen to us? To answer this question when I was a schoolboy i has got ​​a telescope and have read many Sci-Fiction books. Fascinating and beautiful.</p>
        <p><span class="highlight">Travelling.</span> Recently, I’ve realized that I want to see a lot with my own eyes,  doing new things and meeting new people and going to new places. Offer your places to go!
        <p><span class="highlight">Finally, professional development.</span> Career and rhetorical question : "Does Money Bring Happiness?" My answer: money brings freedom and as a result, happiness. What are my strengths and what i can offer to the customer?
            Automation of a broad range of tasks, especially: financial and economic issues, business tasks related to operations and maintenance of a contact center. Development of web applications, relational database design and server programming, implementation and customization of CRM and BI systems. Engineering and data warehouse design, OLAP cubes, reporting optimization & data migration. Despite the fact that I have now a permanent job, I'd like to try myself as an independent consultant. Sooner or later, you come to the conclusion that it's time to start working for myself and not for others. Looking for projects that can be performed remotely, quickly and inexpensively compared to IT companies. Ready to invest in the commonsense IT business. Consider your variants and proposals. I'm here: on this site, on the Web, in real Life.</p>
    </article>
{% endblock %}